In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# plotly from:  https://plot.ly/pandas/histograms/
import json
import matplotlib.pyplot as plt
%matplotlib inline
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
plotly.tools.set_credentials_file(username='xinyuc2', api_key='qdNuQ2DHXWMuZ7SGJnCN')
init_notebook_mode(connected=True)

In [2]:
degrees_that_pay = pd.read_csv('data/degrees-that-pay-back.csv')

In [3]:
degrees_that_pay.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"

#### remove `$` and `,` -> transform the data into `floats` (doubles)

In [4]:
degrees_that_pay['Starting Median Salary'] = degrees_that_pay['Starting Median Salary'].str.replace(',', '')
degrees_that_pay['Starting Median Salary'] = degrees_that_pay['Starting Median Salary'].str.replace('.', '')
degrees_that_pay['Starting Median Salary'] = degrees_that_pay['Starting Median Salary'].str.replace('$', '')
degrees_that_pay['Starting Median Salary'] = degrees_that_pay['Starting Median Salary'].astype(float)

degrees_that_pay['Mid-Career Median Salary'] = degrees_that_pay['Mid-Career Median Salary'].str.replace(',', '')
degrees_that_pay['Mid-Career Median Salary'] = degrees_that_pay['Mid-Career Median Salary'].str.replace('.', '')
degrees_that_pay['Mid-Career Median Salary'] = degrees_that_pay['Mid-Career Median Salary'].str.replace('$', '')
degrees_that_pay['Mid-Career Median Salary'] = degrees_that_pay['Mid-Career Median Salary'].astype(float)

degrees_that_pay['Mid-Career 10th Percentile Salary'] = degrees_that_pay['Mid-Career 10th Percentile Salary'].str.replace(',', '')
degrees_that_pay['Mid-Career 10th Percentile Salary'] = degrees_that_pay['Mid-Career 10th Percentile Salary'].str.replace('.', '')
degrees_that_pay['Mid-Career 10th Percentile Salary'] = degrees_that_pay['Mid-Career 10th Percentile Salary'].str.replace('$', '')
degrees_that_pay['Mid-Career 10th Percentile Salary'] = degrees_that_pay['Mid-Career 10th Percentile Salary'].astype(float)

degrees_that_pay['Mid-Career 25th Percentile Salary'] = degrees_that_pay['Mid-Career 25th Percentile Salary'].str.replace(',', '')
degrees_that_pay['Mid-Career 25th Percentile Salary'] = degrees_that_pay['Mid-Career 25th Percentile Salary'].str.replace('.', '')
degrees_that_pay['Mid-Career 25th Percentile Salary'] = degrees_that_pay['Mid-Career 25th Percentile Salary'].str.replace('$', '')
degrees_that_pay['Mid-Career 25th Percentile Salary'] = degrees_that_pay['Mid-Career 25th Percentile Salary'].astype(float)

degrees_that_pay['Mid-Career 75th Percentile Salary'] = degrees_that_pay['Mid-Career 75th Percentile Salary'].str.replace(',', '')
degrees_that_pay['Mid-Career 75th Percentile Salary'] = degrees_that_pay['Mid-Career 75th Percentile Salary'].str.replace('.', '')
degrees_that_pay['Mid-Career 75th Percentile Salary'] = degrees_that_pay['Mid-Career 75th Percentile Salary'].str.replace('$', '')
degrees_that_pay['Mid-Career 75th Percentile Salary'] = degrees_that_pay['Mid-Career 75th Percentile Salary'].astype(float)

degrees_that_pay['Mid-Career 90th Percentile Salary'] = degrees_that_pay['Mid-Career 90th Percentile Salary'].str.replace(',', '')
degrees_that_pay['Mid-Career 90th Percentile Salary'] = degrees_that_pay['Mid-Career 90th Percentile Salary'].str.replace('.', '')
degrees_that_pay['Mid-Career 90th Percentile Salary'] = degrees_that_pay['Mid-Career 90th Percentile Salary'].str.replace('$', '')
degrees_that_pay['Mid-Career 90th Percentile Salary'] = degrees_that_pay['Mid-Career 90th Percentile Salary'].astype(float)

In [5]:
degrees_that_pay.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,4600000.0,7710000.0,67.6,4220000.0,5610000.0,10800000.0,15200000.0
1,Aerospace Engineering,5770000.0,10100000.0,75.0,6430000.0,8210000.0,12700000.0,16100000.0
2,Agriculture,4260000.0,7190000.0,68.8,3630000.0,5210000.0,9630000.0,15000000.0
3,Anthropology,3680000.0,6150000.0,67.1,3380000.0,4550000.0,8930000.0,13800000.0
4,Architecture,4160000.0,7680000.0,84.6,5060000.0,6220000.0,9700000.0,13600000.0

In [6]:
# interactive bar chart
salary_starting_median = go.Bar(x=degrees_that_pay['Undergraduate Major'], 
                                y=degrees_that_pay['Starting Median Salary'],
                                name='Starting Median Salary')

salary_mid_median = go.Bar(x=degrees_that_pay['Undergraduate Major'], 
                           y=degrees_that_pay['Mid-Career Median Salary'],
                           name='Mid-Career Median Salary',
                           visible=False)

salary_percentage_change = go.Bar(x=degrees_that_pay['Undergraduate Major'], 
                                  y=degrees_that_pay['Percent change from Starting to Mid-Career Salary'],
                                  name='Percent change from Starting to Mid-Career Salary',
                                  visible=False)

salary_mid_10th = go.Bar(x=degrees_that_pay['Undergraduate Major'], 
                           y=degrees_that_pay['Mid-Career 10th Percentile Salary'],
                           name='Mid-Career 10th Percentile Salary',
                           visible=False)

salary_mid_25th = go.Bar(x=degrees_that_pay['Undergraduate Major'], 
                           y=degrees_that_pay['Mid-Career 25th Percentile Salary'],
                           name='Mid-Career 25th Percentile Salary',
                           visible=False)

salary_mid_75th = go.Bar(x=degrees_that_pay['Undergraduate Major'], 
                           y=degrees_that_pay['Mid-Career 75th Percentile Salary'],
                           name='Mid-Career 75th Percentile Salary',
                           visible=False)

salary_mid_90th = go.Bar(x=degrees_that_pay['Undergraduate Major'], 
                           y=degrees_that_pay['Mid-Career 90th Percentile Salary'],
                           name='Mid-Career 90th Percentile Salary',
                           visible=False)

data = [salary_starting_median, 
        salary_mid_median,
        salary_percentage_change,
        salary_mid_10th,
        salary_mid_25th,
        salary_mid_75th,
        salary_mid_90th]

updatemenus = list([
    dict(active=-1,
         buttons=list([   
            dict(label = 'Starting Median Salary',
                 method = 'update',
                 args = [{'visible': [True, False, False, False, False, False, False]},
                         {'title': 'Starting Median Salary'}]),
            dict(label = 'Mid-Career Median Salary',
                 method = 'update',
                 args = [{'visible': [False, True, False, False, False, False, False]},
                         {'title': 'Mid-Career Median Salary'}]),
            dict(label = 'Percent change from Starting to Mid-Career Salary',
                 method = 'update',
                 args = [{'visible': [False, False, True, False, False, False, False]},
                         {'title': 'Percent change from Starting to Mid-Career Salary'}]),
            dict(label = 'Mid-Career 10th Percentile Salary',
                 method = 'update',
                 args = [{'visible': [False, False, False, True, False, False, False]},
                         {'title': 'Mid-Career 10th Percentile Salary'}]),
            dict(label = 'Mid-Career 25th Percentile Salary',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, True, False, False]},
                         {'title': 'Mid-Career 25th Percentile Salary'}]),
            dict(label = 'Mid-Career 75th Percentile Salary',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, False, True, False]},
                         {'title': 'Mid-Career 75th Percentile Salary'}]),
            dict(label = 'Mid-Career 90th Percentile Salary',
                 method = 'update',
                 args = [{'visible': [False, False, False, False, False, False, True]},
                         {'title': 'Mid-Career 90th Percentile Salary'}])
        ]),
    )
])

layout = dict(title='Undergraduate Major', showlegend=False,
              updatemenus=updatemenus)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='update_dropdown')

/Users/rheaxinyuchen/anaconda3/lib/python3.6/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead